*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background: url('./img/background.jpg');
    background-size: cover;
    background-position-y: 0px;
}
.dropdown-toggle::after {
    display: none;
  }
::-webkit-scrollbar {
    width: 8px; /* Đặt độ rộng của thanh cuộn */
}
  
::-webkit-scrollbar-thumb {
    background-color:rgba(60, 29, 11, 0.8); /* Đặt màu của thanh cuộn */
    border-radius: 5px; /* Đặt góc bo tròn cho thanh cuộn */
}
#shipInfo{
    display: none;
}
#menu{
    display: block;
}
#payment{
    display: none;
}
#creditCard{
    display: none;
}
#momo{
    display: none;
}
#viettelPay{
    display: none;
}
#zaloPay{
    display: none;
}
#avtDropDown{
    --bs-dropdown-padding-y: 0;
    background-color: aliceblue;
    --bs-dropdown-min-width: auto;
    
}
.dropdown-item:hover{
    background-color: #0a58ca;
    color: white;
    border-radius: 5px;
}
.center-align-label {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    font-weight: bold;
  }


.nav-tabs{
    border: none;
    --bs-nav-tabs-link-active-color: rgb(138, 71, 71);
    --bs-nav-tabs-link-active-bg: antiquewhite;
    --bs-nav-tabs-border-color: antiquewhite;
    --bs-nav-tabs-link-active-border-color: rgb(138, 71, 71);
    }
a.nav-link{
    color: black;
    
}
.nav-link.active{
    border-radius: 10px;
    margin-bottom: -1px;
    color: blue;
    
}
.nav-link:hover{
    border-radius: 10px;
    color: red;   
} 
.countdown {
    text-align: center;
  }
  
  #timer {
    color: red;
    font-weight: bold;
    padding-left: 10px;
  }    
  #dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
  }
  
  #dialogBox {
    width: 500px;
    height: 200px;
    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    display: none;
  }
  
  #dialogContent {
    text-align: center;
  }
  #dialogMessage{
    font-weight: bold;
    font-size: 30px;
  }
  
  #dialogOK {
    margin-top: 50px;
  }
