* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Times New Roman", Times, serif;
	background-size: cover;
	background-position-y: 0px;
	height: 100%;
}
.navbar {
	background-color: rgba(60, 29, 11, 0.8);
}
.navbar-brand {
	font-weight: bold;
}
.nav-item {
	font-weight: bold;
}
.nav-item .nav-link.active.user-select-none.py-4 {
	background-color: rgba(60, 29, 11, 0.8);
}
.nav-item a {
	color: rgba(60, 29, 11, 0.8);
}
.nav-item a:hover {
	color: chocolate;
}
#menu_doc {
	background-color: antiquewhite;
}
#chitietdanhmuc {
	display: none;
}
#themdanhmuc {
	display: none;
}
#suadanhmuc {
	display: none;
}
#chitietdouong {
	display: none;
}
#themdouong {
	display: none;
}
#suadouong {
	display: none;
}
#chitietnguyenlieu {
	display: none;
}
#themnguyenlieu {
	display: none;
}
#suanguyenlieu {
	display: none;
}
#chitietnhanvien {
	display: none;
}
#themnhanvien {
	display: none;
}
#suanhanvien {
	display: none;
}
